@media all and (max-width:800px) {
    .contentBox {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: hidden;
        background: #F5F5F5;
        /*     background: linear-gradient(90deg, #193E58 314px, #F5F5F5 314px); */
    }

    .slider {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .slider .slide {
        width: 140%;
    }

    .content {
        padding: 70px 20px 20px 0px;
    }

    .menu {
        height: 100%;
        overflow-y: auto;
    }

    .boxWelcome .right {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .col-lg-m {
        width: 100%;
        justify-content: space-between;
    }

    .userBox .popuptext {
        left: -55px !important;
    }


}

@media all and (max-width:425px) {
    .searchBox input[type='search'] {
        width: 100%;
    }

    .searchBox {
        width: 100%;
    }

    .boxWelcome .tittle {
        margin: 0;
    }

    .slider .slide {
        width: 200%;
    }

    .slider .column1 {
        width: 15%;
    }

    .slider .column2,
    .slider .column3 {
        width: 13%;
    }

    .slider .column4 {
        width: 10%;
    }

    .slider .column5 {
        width: 10%;
    }

    .slider .column6 {
        width: 30vw;
    }

    .boxWelcome {
        padding: 0 23px;
    }

    .boxWelcome .tittle {
        font-size: 20px;
    }

    .box input[type='search'] {
        width: 300px;
    }
}

@media all and (max-width:360px) {
    .fa-caret-down:before {
        top: -2px;
    }
}

@media all and (max-width:360px) {
    .fa-caret-down:before {
        top: -2px;
    }
}
