.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
}

.box .btnBox {
    height: 40px;
    display: flex;
    border-radius: 6px;
    margin-left: 67px;
}

.box input[type='search'] {
    width: 347px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #52575D14;
    border-radius: 6px;
    border: none;
    padding: 0 21px;
    background-image: url(../img/search-icon-gray.png);
    background-position: 92% 50%;
    background-repeat: no-repeat;
    background-size: 6%;
    font-size: 18px;
    -webkit-appearance: textfield;
}

.box input[type='search']:focus {
    outline: none;
    background-image: none;
}


.btn {
    width: 130px;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    /*    line-height: 26px;*/
    letter-spacing: 1.68px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border: 2px solid #193E58;

}

.blueBtn {
    background: #193E58 0% 0% no-repeat padding-box;
    color: #FFFFFF !important;
}

.whiteBtn {
    color: #193E58 !important;
    background-color: #F5F5F5;
}

.newBtn {
    width: 131px;
    height: 60px;
    background: #193E58;
    border-radius: 6px;
    font-size: 18px;
    letter-spacing: 2.25px;
    color: #FFFFFF !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px 0 20px;
    cursor: pointer;
}

.newBtn span {
    font-size: 28px;
}


/*slider*/

.slider {
    width: 100%;
    margin: 42px 0 47px;
    overflow-y: auto;
}

.slider .slide {
    width: 100%;
    text-align: left;
    background-color: transparent;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    overflow-y: auto;
}

.slider .active {
    display: flex;
}

.slider .slide .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    margin-right: 0;
    margin-left: 0;
}

.slider .slide .row .column {
    height: 100%;
    display: flex;
    align-items: center;
}

.slider .slide .row .column1 {
    border-left: 5px solid transparent;
    padding: 0 0 0 32px;
}

.slider .slide .row:last-of-type {
    border-bottom: none;
}

.slider .slide .row:hover .column1 {
    border-left: 5px solid #F0B52D;
}

.slider .row:hover {
    background-color: #F0B52D0F;
    cursor: pointer;
    transition: all .4s;
}

.slider .rowHead {
    width: 100%;
    background: #193E58;
    box-shadow: 0px 3px 6px #52575D19;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    border-radius: 6px 6px 0 0;
    height: 45px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider .rowHead .column1 {
    padding: 0 0 0 37px;
}

.slider .rowHead a {
    display: flex;
    align-items: center;
}

.slider .rowHead .column div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 12px;
}

.slider .rowHead img {
    width: 8px;
}

.slider .rowHead .bottom {
    margin: 4px 0 0;
}

.slider .column1 {
    /*    width: 387px;*/
    width: 25.7%;
}

.slider .column2 {
    /*    width: 258px;*/
    width: 17.1%;
}

.slider .column3 {
    /*    width: 258px;*/
    width: 17.1%;
}

.slider .column4 {
    /*    width: 191px;*/
    width: 12.7%;
}

.slider .column5 {
    /*    width: 106px;*/
    width: 11%;
    text-align: center;
}

.slider .column6 {
    /*    width: 308px;*/
    width: 16.4%;
}

.greenBtn {
    width: 106px;
    height: 19px;
    background: #26973D;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greyBtn {
    width: 106px;
    height: 19px;
    background: #4D4D4D;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transpBtn {
    width: 89px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #808080;
    margin: 0 auto;
    cursor: pointer;
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slide .row:hover .transpBtn {
    background: #F0B52D;
    border: 2px solid #F0B52D;
    color: white;
}

.slider-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 40px;
    height: 40px;
}

.arrowNext {
    transform: rotate(180deg);
}

.slider-nav .arrow {
    flex: 0 0 0%;
}

.slider-nav a {
    width: 40px;
    height: 40px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    background: #193E58;
    background-image: url(../img/arrowslider.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    border-radius: 6px;
}

.previous,
.next {
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    position: relative;
}

.previousDefoult {
    filter: grayscale(1);
    cursor: default;
}

.nextDefoult {
    filter: grayscale(1);
    cursor: default;
}

.next:hover {
    text-decoration: none;
}

.slider-nav .num {
    font-size: 18px;
    letter-spacing: 0px;
    color: #4D4D4D;
    width: 192px;
    text-align: center;
    margin: 0;
}

@media all and (max-width:1200px) {
    .slider {
        width: 100%;
        margin: 42px 0 47px;
        overflow-y: auto;
    }

    .slider {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .slider .slide {
        width: 140%;
    }

    .slider .column1 {
        /* width: 387px; */
        /*        width: 20.7%;*/
    }


    .slider .slide .row,
    .slider .rowHead {
        justify-content: flex-start;
    }

    .box {
        /*
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
*/
    }

    .box .btnBox {
        margin: 20px 0;
    }
}

@media all and (max-width:1024px) {
    .slider .slide {
        width: 140%;
    }

    .slider .column6 {
        /*        width: 12.4%;*/
    }

    .slider .column2,
    .slider .column3 {
        /*        width: 15.1%;*/
    }
}

@media all and (max-width:999px) {
    .slider .slide {
        width: 180%;
    }

}
