@media all and (max-width:1919px) {
    .widthBox2 {
        max-width: 100%;
        width: 100%;
        display: contents;
        flex-wrap: nowrap;
    }

    .tickets .line .clm1 {
        width: 48.7%;
    }

    .tickets .name {
        width: 30.1vw;
    }

    .tickets .prijs input {
        width: 6.9vw;
    }

    .tickets .line .clm1 {
        flex-wrap: nowrap;
    }

    .tickets .aantal {
        width: 4.8vw;
    }

    .tickets .status {
        width: 14.6vw;
    }

    .tickets .calendar {
        width: 12.9vw;
    }

    .tickets .time {
        width: 4.5vw;
    }

    .tickets .template {
        width: 17.4vw;
    }

    .tickets .groep {
        width: 17.4vw;
    }

    .tickets .text {
        width: 21.7vw;
    }

    .tickets textarea {
        width: 51.7vw;
    }

    .tickets .line .settingsBox {
        width: 16.7vw;
        margin-left: 1.6vw;
    }

    .tickets .line:nth-of-type(4) {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media all and (max-width:1600px) {

    .tickets .text {
        width: 16.7vw;
    }

    .tickets .groep,
    .tickets .template {
        width: 15.4vw;
    }

    .tickets .name {
        width: 27.1vw;
    }

    .tickets .prijs input {
        width: 5.9vw;
    }

    .tickets .line .clm1 {
        flex-wrap: nowrap;
    }

    .tickets .aantal {
        width: 5vw;
    }

    .tickets .status {
        width: 10.6vw;
    }

    .tickets .calendar {
        width: 10.9vw;
    }



    .tickets .minMax input {
        width: 5.8vw;
    }

    .tickets textarea {
        width: 43.4vw;
    }

    .column5 p {
        justify-content: flex-start;
        padding: 6px 0 6px 36px;
    }
}

@media all and (max-width:1440px) {
    .tickets .name {
        width: 25.6vw;
    }
}

@media all and (max-width:1439px) {
    .widthBox2 {
        max-width: 1508px;
        width: 1508px;
        display: contents;
        flex-wrap: wrap;
    }

    .tickets .line .settingsBox {
        width: 417px;
        margin-left: 0;
    }


    .tickets .line:nth-of-type(4) {
        align-items: flex-start;
        justify-content: space-between;
    }

    .tickets .status {
        width: 281px;
    }

    .tickets .prijs input {
        width: 133px;
    }

    .tickets .name {
        width: 578px;
    }

    .tickets .aantal {
        width: 93px;
    }

    .tickets .calendar {
        width: 247px;
    }

    .tickets .time {
        width: 89px;
    }

    .tickets .template {
        width: 336px;
    }

    .tickets .groep {
        width: 336px;
    }

    .tickets .text {
        width: 417px;
    }

    .tickets .minMax input {
        width: 113px;
    }

    .tickets textarea {
        /*        width: 968px;*/
    }

    .tickets .line .clm1 {
        flex-wrap: wrap;
    }

    .tickets .line:nth-of-type(4) .inputsRow:first-of-type {
        width: 100%;
    }

    .tickets textarea,
    .tickets .line .settingsBox {
        width: 100%;
    }

    .tickets .line .clm1 {
        width: 100%;
    }

    .tickets .line .dateBox {
        width: 48%;
        justify-content: space-between;
    }

    .tickets .line .dateBox .inputsRow {
        width: 100%;
    }

    .tickets .line:last-of-type .inputsRow {
        width: 100%;
    }

    .tickets .line .settingsBox div,
    .tickets .line .minMax {
        width: 40%;
    }

    .tickets .line .settingsBox div div {
        width: 100%;
    }

    .yellowBtn {
        margin: 42px 0 0 auto;
    }

    .tickets .line:nth-of-type(3) .inputsRow {
        width: 48%;
    }

    .tickets .template,
    .tickets .groep,
    .tickets .text {
        width: 100%;
    }



}

@media all and (max-width:1154px) {
    .clm2 .inputsRow:first-of-type {
        width: 80%;
    }

    .tickets .name {
        width: 100%;
    }
}

@media all and (max-width:1024px) {

    .clm3 .inputsRow:first-of-type,
    .clm3 .inputsRow:nth-of-type(2) {
        width: 48%;
    }

    .clm3 .inputsRow:last-of-type {
        width: 100%;
    }

    .tickets .status {
        width: 100%;
        background-size: 2%;
        background-position: 95% center;
    }

    .tickets .prijs input {
        width: 100%;
    }

    /*
    .tableTickets .row {
        width: 240%;
        justify-content: flex-start;
    }

    .column4 {
        width: 14.1%;
        padding: 6px 0;
        padding-left: 33px;
    }

    .column5 {
        width: 28.6%;
        text-align: center;
        padding: 6px 0;
        justify-content: center;
    }
*/

    .tickets .name {
        /*        width: 450px;*/
    }

    .tickets .line .dateBox {
        width: 100%;
        justify-content: flex-start;
    }

    .tickets .line .dateBox .inputsRow:first-of-type {
        width: 80%;
    }

    .tickets .line .dateBox .inputsRow:last-of-type {
        width: 20%;
    }

    .tickets .calendar,
    .tickets .time {
        width: 100%;
    }

    .tickets .calendar {
        background: #fff url(../img/calendar.png) 93% 50% no-repeat;
        background-size: 5%;
    }
}

@media all and (max-width:900px) {

    .modalBox .middleText,
    .modalBox .line form {
        width: 100%;
    }

    .modalBox .middleText {
        flex-wrap: wrap;
    }

    .modal-dialog {
        max-width: 500px;
        margin: 20px auto;
    }

    .modalBox .line .date {
        width: 100%;
    }

    .modalBox .line .date .calendar {
        width: 340px;
    }

    .modalBox .inputsRow,
    .modalBox .aantal,
    .modalBox .prijs input {
        width: 100%;
    }

    .modalBox .minMax input {
        width: 48%;
    }

    .clm2 .inputsRow:first-of-type,
    .clm2 .inputsRow,
    .tickets .aantal {
        width: 100%;
    }
}

@media all and (max-width: 600px) {
    .tickets .name {
        width: 350px;
    }

    .tickets .status {
        width: 100%;
    }

    .tickets .minMax input {
        width: 98px;
    }
}

@media all and (max-width:500px) {


    .modal-dialog {
        max-width: 350px;
        margin: 20px auto;
    }

    .modalBox .line .date .calendar {
        width: 216px;
    }

    .modalBox .content {
        padding: 36px 20px;
    }

    .tickets .name {
        width: 100%;
    }

    .inputsRow,
    .tickets .aantal,
    .tickets .prijs input {
        width: 100%;
    }

    .tickets .line:nth-of-type(3) .inputsRow {
        width: 45%;
    }

    .tickets .line:nth-of-type(3) .inputsRow {
        width: 100%;
    }

    .tickets .line .minMax {
        width: 100%;
    }

    .tickets .minMax input {
        width: 60%;
    }

    .tickets .line .settingsBox div {
        width: 80%;
    }


    /*
    .tableTickets .row {
        width: 355%;
        justify-content: flex-start;
    }
*/
    .modalBox .aantal {
        width: 100%;
    }

    .modalBox .prijs input {
        width: 100%;
    }

    .modalBox .minMax input {
        width: 48%;
    }
}

@media all and (max-width:425px) {

    .tableTickets .row .column2,
    .tableTickets .row .column3,
    .tableTickets .row .column4,
    .tableTickets .row .column5,
    .tableTickets .row .column6,
    .tableTickets .row .column7,
    .tableTickets .row .column8 {
        display: none;
    }

    .tableTickets .row .column1 {
        width: 100%;
    }


}

@media all and (max-width:320px) {

    .modalBox .content,
    .tickets .content {
        padding: 16px 10px;
    }

    .tickets .name,
    .tickets .status,
    .tickets .template,
    .tickets .groep,
    .tickets .content form,
    .tickets .text,
    .tickets textarea,
    .tickets .line .settingsBox {
        width: 100%;
    }

    .tickets .line .settingsBox form {
        width: auto;
    }

    .yellowBtn {
        width: 128px;
        padding: 0 9px;
        font-size: 14px;
    }

    .tickets .line .settingsBox div {
        width: 100%;
    }

}
