@media all and (max-width:800px) {

    .slider {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .slider .slide {
        width: 140%;
    }

}

@media all and (max-width:425px) {

    .slider .slide {
        width: 250%;
    }

    .box input[type='search'] {
        width: 300px;
    }
}



@media all and (max-width: 320px) {
    .slider .slide {
        width: 350%;
    }
}
